language: r

sudo: required

cache: packages

os:
  - linux

apt_packages:
  - aptitude
  - libgsl
  - libgsl-dev 
  - libgsl0-dev 
  - libgsl2


# services:
#   - docker

# before_install:
#   - docker pull rocker/geospatial
#   - docker run /bin/bash rocker/geospatial -c 'R -e "print('tH')"'


r_packages:
  - sp
  - iterators
  - foreach
  - parallel
  - doParallel


jobs:
  include:
    - stage: Get libraries through aptitude
      r: 3.5
      install: true
      script:
        - cd /home/travis/R-bin/lib/R/library
        - wget https://gist.githubusercontent.com/sadatnfs/e8a0ca5fe821fb4d95b2b944face8fb3/raw/2167a0ec0c77008fe5955e62ff25a01a2ae6e08f/Makefile
        - sudo make lib-install

    - stage: Clone INLA from Bitbucket
      r: 3.5
      install: true
      script:
        - cd /home/travis/R-bin/lib/R/library
        - make download -d 

    - stage: Build all the binaries
      r: 3.5
      install: true
      script:
        - sudo make bin
        - mv inla/rinla/R/obsolete/* inla/rinla/R/ 
        - sudo make package 
        - R --vanilla CMD INSTALL /home/travis/R-bin/lib/R/library/tmp/RINLA/INLA_*.tgz 
        - sudo ln -s /home/travis/R-bin/lib/R/library/INLA/bin/linux/64bit/fmesher.run /home/travis/R-bin/lib/R/library/INLA/bin/linux/64bit/fmesher.static 
        - sudo ln -s /home/travis/R-bin/lib/R/library/INLA/bin/linux/32bit/fmesher.run /home/travis/R-bin/lib/R/library/INLA/bin/linux/32bit/fmesher.static 
        - sudo ln -s /home/travis/R-bin/lib/R/library/INLA/bin/linux/64bit/inla.run /home/travis/R-bin/lib/R/library/INLA/bin/linux/64bit/inla.static 
        - sudo ln -s /home/travis/R-bin/lib/R/library/INLA/bin/linux/32bit/inla.run /home/travis/R-bin/lib/R/library/INLA/bin/linux/32bit/inla.static

notifications:
  email:
    on_success: never
    on_failure: never