language: cpp
sudo: false
cache: packages
dist: xenial

os:
  - linux

before_install:
    - sudo add-apt-repository 'deb [arch=amd64,i386] https://cran.rstudio.com/bin/linux/ubuntu xenial/'
#   - sudo apt-get install -y libxml2-dev aptitude wget libgsl0-dev r-mathlib

addons:
  apt:
    packages:
      - build-essential
      - ca-certificates
      - openssl
      - mercurial
      - libxml2-dev 
      - aptitude 
      - wget 
      - gsl-bin
      - libgsl0-dev 
      - r-recommended
      - r-mathlib
      - r-cran-sp
      - r-cran-foreach
      - r-cran-iterators
      - g++
      - gcc
      - gfortran
      - make
      - cmake

# services:
#   - docker

# before_install:
#   - docker pull rocker/geospatial
#   - docker run /bin/bash rocker/geospatial -c 'R -e "print('tH')"'


# r_packages:
#   - sp
#   - iterators
#   - foreach
#   - parallel
#   - doParallel


before_install:  
  - chmod +x bin/01_clone_and_download_deps.sh
  - chmod +x bin/02_build_inla.sh

jobs:
  include:
    - stage: All builds in one stage
      # r: release
      install: true
      script: 
        - ./bin/01_clone_and_download_deps.sh
        - ./bin/02_build_inla.sh

    # - stage: Build all the binaries
    #   r: release
    #   script: 
    #     - ./bin/02_build_inla.sh


notifications:
  email:
    on_success: never
    on_failure: never