language: r
sudo: required
cache: packages
dist: trusty

os:
  - linux

apt_packages:
  - aptitude 
  - wget 
  - libgsl 
  - libgsl-dev 
  - libgsl0-dev 
  - libgsl2


# services:
#   - docker

# before_install:
#   - docker pull rocker/geospatial
#   - docker run /bin/bash rocker/geospatial -c 'R -e "print('tH')"'


r_packages:
  - sp
  - iterators
  - foreach
  - parallel
  - doParallel


before_install:  
  - chmod +x bin/01_clone_and_download_deps.sh
  - chmod +x bin/02_build_inla.sh

jobs:
  include:
    - stage: Get libraries through aptitude and clone INLA from Bitbucket
      r: release
      install: ./bin/01_clone_and_download_deps.sh
      script: 
        - aptitude install -y gsl-bin libgsl0-dev
        - ./bin/02_build_inla.sh

    # - stage: Build all the binaries
    #   r: release
    #   script: 
    #     - ./bin/02_build_inla.sh


notifications:
  email:
    on_success: never
    on_failure: never