language: r
sudo: required
cache: packages
dist: xenial

os:
  - linux

apt_packages:
  - aptitude 
  - wget 
  - libgsl 
  - libgsl-dev 
  - libgsl0-dev 
  - libgsl2


# services:
#   - docker

# before_install:
#   - docker pull rocker/geospatial
#   - docker run /bin/bash rocker/geospatial -c 'R -e "print('tH')"'


r_packages:
  - sp
  - iterators
  - foreach
  - parallel
  - doParallel


jobs:
  include:
    - stage: Get libraries through aptitude and clone INLA from Bitbucker
      r: 3.5
      install: true
      script: ./01_clone_and_download_deps.sh

    - stage: Build all the binaries
      r: 3.5
      script: ./02_build_inla.sh


notifications:
  email:
    on_success: never
    on_failure: never